body {
  background-color: lightblue;
}

body {
  background-image: url(project1/timepasses.webp);
}


<p><h1>the cycle of life</h1></p>

<p>I Am Not Perfect<br> 

I've wanted to be a famous writer.<br> 

I want to be so successful that people stop me on the street and ask, “Oh my. God, are you ...</p>


<p> Please help me find this song from ...<br>

Listening to it now on Spotify not sure if it will have the song we need but I ...<br>

Does anybody else absolutely love the feeling of ...<br>

Would you go to a concert if you only knew one or ...<br>

What's that one lyric of a song you can relate to ...<br>

What music was playing ...</p>
...Feedback

<p> I was having a very emotional day, feeling insecure and out of place.<br> 

So I cried and after feeling through it...<br> </p>


<p> My husband and cocaine <br>

Hi, my husband is a cocaine addict, I've been married for 10 years been together for 16 years. My husband is my best friend, a very loyal, honest and loving ... </p>

<p> What You've Been Told is Totally False! <br>

Mark accidentally avoided the most simple advice that everyone hears but pays no attention to, he did in fact let the bed bugs bite... </p>


<p>This American Life <br>

'I Believe You Should Be Yourself' <br>

Embracing Differences: A Song of Joy and Individuality <br>

169: Pursuit of Happiness<br>

<p>The Light of Los Angeles <br>
Ermias Joseph Asghedom was shot and killed outside his clothing store on March 31, 2019. Weeks of headlines and remembrances followed. He was deeply committed ... </p>






h1 {
  color: pink;
}

p {
  font-family: verdana;
  font-size: 20px;
}
